*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:lightblue;
}
h1{
    font-size: 10vh;
    background:linear-gradient( red green );
}