*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI;
}

body{
  background:#111;
  color:white;
}

header{
  position: fixed;
  height: 60px;
  width: 100%;
  padding:15px;
  text-align:center;
  background-color: black;
  z-index: 999;
}

.container{
  display:flex;
  gap:20px;
  padding:20px;
}

/* SIDEBAR */

.sidebar{
  position: fixed;
  margin-top: 5%;
  width:200px;
  height: 82%;
  background-color: rgb(34, 32, 32);
  padding:15px;
  border-radius:10px;
  z-index: 999;
}

.sidebar ul{
  list-style:none;
  margin-top:10px;
}

.sidebar li{
  padding:8px;
  cursor:pointer;
  border-radius:6px;
  margin-bottom:5px;
  transition:0.2s;
}

.sidebar li:hover{
  background:cyan;
  color:black;
}

/* PRODUCTS */

.products{
  flex:1;
  
  margin-top: 5%;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
  gap:20px;
  margin-left: 20%;

}

.product{
  background:#1f1f1f;
  padding:10px;
  border-radius:10px;
  text-align:center;
  transition:0.3s;
}

.product:hover{
  transform:translateY(-5px);
}

.product img{
  width:100%;
  height:150px;
  object-fit:cover;
  border-radius:8px;
}

.product button{
  margin-top:8px;
  padding:5px 10px;
  background:cyan;
  border:none;
  cursor:pointer;
  border-radius:5px;
}

/* CART */

.cart{
  display: none;
  width:250px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(10px);
  padding:15px;
  border-radius:10px;
}

.cart ul{
  list-style:none;
  max-height:300px;
  overflow-y:auto;
}

.cart li{
  display:flex;
  justify-content:space-between;
  margin-bottom:8px;
  background:#222;
  padding:5px;
  border-radius:6px;
}

.total{
  margin-top:10px;
  font-weight:bold;
  text-align:right;
}
